@page
@model IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie PrzepisyOnline</h1>
    
</div>

<div class="card-columns">
<div class="card" style="width:18rem;">
    <img class="card-img-top" src="https://static.kuchnia-domowa.pl/images/content/202/spaghetti-bolognese.jpg">
    <div class="card-body">
        <h5>Spaghetii</h5>
        <a href="#" class="btn btn-primary">Zobacz więcej</a>
    </div>
        </div>
<div class="card" style="width:18rem;">
    <img class="card-img-top" src="https://static.smaker.pl/photos/9/7/8/978ad5083bcc00e02333838e397c9cae_351293_5c83f580e719e_wm.jpg">
    <div class="card-body">
        <h5>Schabowy</h5>
        <a href="#" class="btn btn-primary">Zobacz więcej</a>
    </div>
</div>
    </div>


